body {
  display: block !important;
}

#root {
  width: 100%;
}

.red  {
  color: red;
}

.debug {
  padding: 20px; 
  background: white;
}

#about {
  padding: 20px;
  background: antiquewhite;
}

.img {
  margin-bottom: 10px;
}

.sidebar {
  margin-bottom: 0;
  cursor: pointer;
}

.sidebar p {
  margin: 0;
}